* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
header {
	/*width: 100%;*/
	background-color: #EC715F;
}


.header-logo {
	width: 1024px;
	height: 70px;
	margin: auto;
}
.logo {
	width: 150px;
	float: left;
}
.nav-list {
	text-align: right;
	padding-top: 23px;
	margin: 0 ;
}
.nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 0 30px;
	color: #FAFAFA;
	font-size: 16px;
}
.main-visual {
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
	background-position: center;
	background-size: cover;
}
.main-visual-headline {
	color: #fAfAfA;
	font-size: 64px;
	text-align: center;
	padding: 200px 0 10px 0;
}
.main-visual-text {
	color: #fAfAfA;
	font-size: 20px;
	text-align: center;
}

main {
	width: 100%;
}
.portfolio {
	width: 100%;
	background-color: #ECEFF1;
	text-align: center;
}
.portfolio-headline {
	font-size: 32px;
	color: #000000;
	padding: 90px 0 8px 0;

}
.under {
	width: 70px;
	height: 3px;
}

.portfolio-text {
	font-size: 16px;
	color: #000000;
	padding: 30px 0;
}
.portfolio-content {
	width: 920px;
	margin: auto;
	padding-bottom: 90px;

}
.portfolio-image {
	width: 300px;
	height: 250px;
	margin: 0 10px 10px 0;
	background-size: cover;
	background-position: center;
}
.portfolio-image2 {
	width: 300px;
	height: 250px;
	margin: 0 10px 10px 0;
}
.line-height{
	line-height: 0;
}
.portfolio-image:nth-child(3) {
	margin-right: 0;
}
.portfolio-image2:nth-child(3) {
	margin-right: 0;
}


/*feature*/
.feature {
	width: 100%;
	text-align: center;
}
.feature-headline {
	width: 100%;
	font-size: 32px;
	color: #000000;
	padding: 90px 0 8px 0;
}
.feature-text {
	font-size: 16px;
	color: #000000;
	padding: 30px 0;
}
.feature-text2 {
	font-size: 16px;
	color: #000000;
}
.feature-visual {
	width: 980px;
	margin: auto;
}
.social {
	width: 100%;
}
.social i {
	display: inline-block;
	text-align: center;
	font-size: 60px;
}
.social-headline {
	font-size: 20px;
	padding: 10px 0;
	color: #000000;
}


.feature-box {
	width: 320px;
	margin: 0 0 90px 0;
	float: left;
}
.feature-box2 {
	width: 320px;
	margin: 0 10px 90px 10px;
	float: left;
}




/*profile*/
.profile {
	width: 100%;
	background-color: #ECEFF1;
}
.profile-headline {
	font-size: 32px;
	text-align: center;
	color: #000000;
	padding: 90px 0 8px 0;
}
.border {
	width: 70px;
	margin: auto;
	border-bottom: 3px solid #EC715F;
}
.profile-text {
	text-align: center;
	font-size: 16px;
	color: #000000;
	padding: 30px 0;
}



.profile-box {
	width: 1024px;
	margin: auto;
	padding-bottom: 90px;
}
.profile-image-box {
	width: 512px;
	float: left;
	margin: auto;
}

.profile-image {
	width: 250px;
	border-radius: 50%;
	margin-left: 165px;
}

.profile-text-box {
	width: 512px;
	float: left;
	margin: auto;
}
.profile-headline2 {
	text-align: left;
	font-size: 20px;
	color: #000000;
	padding-bottom: 5px;
}
.profile-text2 {
	font-size: 16px;
	color: #000000;
	text-align: left;
	padding-bottom: 20px;
}
.contact {
	width: 800px;
	margin: auto;
}
.contact-headline {
	font-size: 32px;
	color: #000000;
	text-align: center;
	padding: 90px 0 8px 0;
	/*border-bottom: 3px solid #EC715F;*/
}

.contact-text {
	font-size: 16px;
	color: #000000;
	text-align: center;
	padding: 30px 0 30px 0;
}
.contact-box-left {
	width: 400px;
	float: left;
	padding-left: 160px;
}
.contact-box-right {
	width: 400px;
	float: left;
	padding-left: 100px;
}
.contact-box:nth-child(1) {
	/*padding-left: 166px;*/
}
.contact-box:nth-child(2) {
	/*padding-left: 93px;*/
}
.mail {
	font-size: 20px;
	padding-bottom: 5px;
}
.tell {
	font-size: 20px;
	padding: 20px 0 5px 0;
}
.sns {
	font-size: 20px;
	text-align: left;
	padding-bottom: 5px;
	/*float: left;*/
}

.contact-bottom {
	margin: auto;
	padding-bottom: 90px;
	width: 800px;
	/*/*float: left;*/
}
.social i {
	font-size: 50px;
	display: inline-block;
	text-align: left;
}
.social i:nth-child(2) {
	padding: 0 20px;
}

footer {
	width: 100%;
	height: 60px;
	background-color: #EC715F;
}
.footer-text {
	font-size: 16px;
	height: 60px;
	color: #FAFAFA;
	text-align: center;
	padding-top: 20px;
}

@media screen and (max-width: 425px) {
	header {
		width: 90%;
		margin: 0 5%;
	}
	#humberger {
		position: relative;
		left: 210px;
		height: 44px;
		width: 44px;
		display: inline-block;
		margin: 3px 8px 3px 0;
		box-sizing: border-box;
		background-color: #EC715F;
		border: 2px solid #fAfAfA;
		border-radius:4px;
	}
	#humberger div {
		position: absolute;
		left: 8px;
		height: 4px;
		width: 24px;
		background-color: #FAFAFA;
		border-radius: 2px;
		display: inline-block;
		box-sizing: border-box;
	}
	#humberger div:nth-of-type(1) {
		top: 10px;
	}
	#humberger div:nth-of-type(2) {
		top: 18px;
	}
	#humberger div:nth-of-type(3) {
		bottom: 10px;
	}
	.header-logo {
		width: 100%;
		height: 50px;
	}
	.logo {
		height: 45px;
		width: 100px;
		margin: 0 0 0 10px;
	}
	.nav-list {
		display: none;
	}
	.main-visual {
		width: 90%;
		height: 650px;
		margin: 0 5%;
		background-image: url(img/code.png);
	}
	.main-visual-headline {
		font-size: 40px;
	}
	.portfolio {
		width: 90%;
		margin: 0 5% ;
	}

	.portfolio-content {
		width: 100%;
	}
	.portfolio-image {
		width: 300px;
		margin-right: 0px;
	}
	.portfolio-image2 {
		width: 300px;
		margin-right: 0;
	}
	.portfolio-image:nth-child(1) {
		display: none;
	}
	.portfolio-image:nth-child(3) {
		display: none;
	}
	.portfolio-image2:nth-child(2) {
		display: none;
	}
	.feature {
		width: 90%;
		margin: 0 5%;
	}
	.box {
		width: 90%;
	}

	.feature-box {
		float: none;
		/*margin-left: 20px;*/
		/*margin-top: 10px;*/
		margin: 0 0 10px 20px;
	}
	.feature-box:nth-child(2) {
		float: none;
		/*margin-left: 20px;*/
		/*margin-top: 10px;*/
		margin: 0 0 90px 20px;
	}
	.feature-box2 {
		margin: 0 0 10px 20px;
	}
	.profile {
		width: 90%;
		margin: 0 5%;
	}
	.profile-image {
		width: 250px;
		margin-left: 60px;

	}
	.profile-headline2 {
		width: 100%;
		text-align: center;
		padding-top: 20px;
	}
	.profile-box {
		width: 100%;
	}
	.profile-image-box {
		/*margin: 0 auto;*/
		/*padding: 0;*/
		/*width: 100%;*/
	}
	.profile-text-box {
		width: 100%;
	}
	.profile-text2 {
		width: 100%;
		text-align: center;
		margin: auto;
		padding-bottom: 0px;
	}
	.mail {
		width: 100%;
		text-align: center;
	}
	.tell {
		width: 100%;
		text-align: center;
	}
	.address {
		/*padding-right: 30px;*/
		text-align: center;
	}
	.contact {
		width: 90%;
		margin: 0 5%;
	}
	.contact-bottom {
		width: 90%;
		margin: 0 5%;
	}
	.contact-box-left, .contact-box-right {
		float: none;
		text-align: center;
		padding-left: 0;
		margin-right: 5%;
	}
	.sns {
		text-align: center;
	}
	footer {
		width: 90%;
		margin: 0 5%;
	}


}